<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{countSatellite("Space Debris")}}</span></div>
   <div>Communication: <span>{{countSatellite("Communication")}}</span></div>
   <div>Probe: <span>{{countSatellite("Probe")}}</span></div>
   <div>Positioning: <span>{{countSatellite("Positioning")}}</span></div>
   <div>Space Station: <span>{{countSatellite("Space Station")}}</span></div>
   <div>Telescope: <span>{{countSatellite("Telescope")}}</span></div>
</div>
